services:
  postgres_product:
    image: postgres:16
    container_name: product-catalog-database
    environment:
      - POSTGRES_USER=${postgres_user}
      - POSTGRES_PASSWORD=${postgres_password}
      - POSTGRES_DB=${postgres_database}
    ports:
      - "5002:5432"
    networks:
      - internal
    volumes:
      - postgres_data:/var/lib/postgresql/data

  product-catalog-service:
    build:
      context: .
      target: runner
    image:  product-catalog-service:latest
    container_name:  product-catalog-service
    depends_on:
      - postgres_product
    env_file:
      - .env
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres_product:5432/${postgres_database}
      - SPRING_DATASOURCE_USERNAME=${spring_user}
      - SPRING_DATASOURCE_PASSWORD=${spring_password}
      - SPRING_JPA_HIBERNATE_DDL_AUTO=update
      - SERVER_PORT=4004
      - SPRING_JPA_OPEN_IN_VIEW=false
      - SPRING_JPA_DATABASE_PLATFORM=org.hibernate.dialect.PostgreSQLDialect

    ports:
      - "4004:4004"
    networks:
      - internal

volumes:
  postgres_data:

networks:
  internal:
    external: true